
<div class="page-header">
  <h2>
    Mis Comisiones</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Pedido</th>

      <th>
        Cantidad</th>

       <th>
        Comision</th>
      <th>
        Precio Producto</th>
      <th>
        Fecha</th>
      <th>
        Producto</th>
      <th>
        Ganancia</th>
     
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
    <tr>
      <td>
        <%= link_to pedido.id, pedido_vendedor_path(current_vendedor.id,pedido.id) %></td>
      <td>
        <%= pedido.cantidad  %></td>

      <td>
        <%= pedido.producto.comision %>%</td>

        <td>
        <%= pedido.producto.precio %></td>
      <td>
        <%=l pedido.created_at, :format =>:long %></td>
      <td>
        <%= pedido.producto.nombre %></td>

       <td>
        <%= (pedido.producto.precio.to_i*(pedido.producto.comision.to_i)) %></td>
      
    </tr>
    <% end %></tbody>
</table>