
<div class="page-header">
  <h1>Catálogo de productos</h1>
</div>

<div id="wrapper">
  <div id="columns">

<%@productos.each do |producto| %>    
    <div class="pin">
        <%=  image_tag producto.avatar.url(:index) %>
        <%if empresa_signed_in? %>
        <strong> <%= link_to producto.nombre, producto_empresa_path(current_empresa.id,producto) %></strong>
        <%else%>
        <strong> <%= link_to producto.nombre, producto_path(producto) %></strong>
          <%end%>
      <p>
        <%= producto.descripcion %>
        <hr>
        <%= number_to_currency(producto.precio) %>
        <br>
        Publicado hace <%=distance_of_time_in_words(producto.created_at, Time.now) %>
      </p>
    </div>
  
  <%end%>

  </div>
</div>