<%- model_class = Producto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %> de empresa <%=@empresa.nombre %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID Producto</th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:precio) %></th>

      <th>Publicado</th>
      <th>Pedidos totales</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= link_to producto.id, producto_empresa_path(current_empresa.id,producto.id) %></td>
        <td><%= link_to producto.nombre, producto_empresa_path(current_empresa.id,producto.id) %></td>
        <td><%= number_to_currency(producto.precio) %></td>
        
        <td><%=l producto.created_at, :format =>:long  %></td>
        <td><%= producto.pedidos.count %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_producto_path(producto), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      producto_path(producto),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_producto', :default => t("helpers.links.new_producto")),
            new_producto_path,
            :class => 'btn btn-primary' %>
