<h2>Actualizar datos de <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre, :required => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :rut, :required => true ,:hint => "Ej. 12.345.678-9"%>
    <%= f.input :direccion, :required => true, :label=> "Dirección" %>
    <%= f.association :comuna , collection: Comuna.all(order: 'nombre'), :label => 'Comuna', :include_blank => false, :label_method => :nombre %>
    <%= f.association :universidad , collection: Universidad.all(order: 'nombre'), :label => 'Institución', :include_blank => false, :label_method => :nombre %>
    <%= f.input :password, :autocomplete => "off", :hint => "déjalo en blanco si no quieres cambiarla.", :required => false %>
    <%= f.input :password_confirmation, :required => false, :label=> "Confirmar Password" %>
    <%= f.input :current_password, :label=> "Password actual", :hint => "necesitamos tu password actual para confirmar tus cambios.", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar" %>
  </div>
<% end %>

<h3>Cerrar mi cuenta</h3>

<p>No te gustó? <%= link_to "Cerrar mi cuenta", registration_path(resource_name), :data => { :confirm => "Estás seguro?" }, :method => :delete %>.</p>

<%= link_to "Atrás", miperfil_vendedor_path(current_vendedor.id) %>
