<%= link_to "Comisiones.cl", root_path, :class =>
'brand' %>
<ul class="nav">
	<li>
		<%= link_to "Productos", productos_path  %></li>
	<%if vendedor_signed_in? %>

	<li>
		<%= link_to "Mis Pedidos", pedidos_vendedor_path(current_vendedor.id)  %></li>

		<li>
		<%= link_to "Mi Catálogo", catalogo_vendedor_path(current_vendedor.id)  %></li>
	
	<li>
		<%= link_to "Salir", destroy_vendedor_session_path, :method =>:delete %></li>



	<%end%>

	<% if empresa_signed_in? && !vendedor_signed_in? %>
	<li>
		<%= link_to "Ver mis Productos", productos_empresa_path(current_empresa.id) %></li>
	<li>
		<%= link_to "Ver Pedidos Recibidos", pedidos_empresa_path(current_empresa.id) %></li>
	<li>
		<%= link_to "Salir", destroy_empresa_session_path, :method =>:delete %></li>


	<% end %></ul>