<!DOCTYPE html>
<html>


<%= render 'layouts/head' %>






 <body>
<%= render 'layouts/messages' %>
   <%= render 'layouts/adminbar' %>

<!-- Header starts -->
  <%= render 'layouts/header' %>

<!-- Header ends -->

<!-- Main content starts -->

<div class="content">

    <!-- Sidebar -->
    
    <%= render 'layouts/sidebar' %>
    <!-- Sidebar ends -->

    <!-- Main bar -->
    <div class="mainbar">

      <!-- Page heading -->
      <%= render 'layouts/pageheading' %>
      <!-- Page heading ends -->

      <!-- Matter -->

      <div class="matter">
        <div class="container-fluid">

         <%= yield %>



        </div>
      </div>

    <!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->        
   <div class="clearfix"></div>

</div>
<!-- Content ends -->

<!-- Footer starts -->
<footer>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
            <!-- Copyright info -->
            <p class="copy">Copyright &copy; 2013 | <a href="http://www.comisiones.cl">Comisiones.cl</a> </p>
      </div>
    </div>
  </div>
</footer>   

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 



</body>







</html>
